<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia Android</title>
    <link rel="stylesheet" href="dsf.css">
    <link rel="shortcut icon" href="pacote-projeto-d010/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
<header class="titulo">
    <h1 class="titulo">CURIOSIDADES DA TECNOLOGIA</h1>
    <p class="titulo2">Tudo aquilo que você sempre quis saber sobre o mundo Tech, em um único lugar</p>
</header>
<nav class="navegaçao">
    <a href="#">Home</a>
    <a href="#">Notícias</a>
    <a href="#">Curiosidades</a>
    <a href="#">Fale conosco</a>
</nav>
<main>
    <section>
        <div class="prin">
            <h1 class="printit">Historia do mascote do Android</h1>
            <p class="mashist">
                Provavelmente você sabe que o sistema operacional Android, mantido pelo Google é um dos mais utilizados
                para dispositivos móveis em todo o mundo.
                Mas tavez você não saiba que o seu simpático mascote tem um nome e uma história muito curiosa? Pois
                acompanhe esse artigo para aprender muita coisa sobre esse robozinho.
            </p>
            <h2 class="primver">A primeira versão</h2>
            <p class="primverc">
                A primeira tentativa de criar um mascote surgiu em 2007 e veio de um desenvolvedor chamado <a
                    href="https://www.danmorrill.org/" target="_blank">Dan Morill</a>. Ele conta que abriu o <a
                    href="https://inkscape.org/pt-br/">Inkscape</a> (software livre para vetorização de imagens) e criou
                sua própria versão de robô. O objetivo era apenas personificar o sistema apenas para a a sua equipe, não
                existia nenhuma solicitação da empresa para a criação de um mascote.
            </p>
            <img src="pacote-projeto-d010/imagens/dan-droids.png" alt="dan-droids">
            <p class="primverc">
                Essa primeira versão bizarra até foi batizada em homenagem ao seu criador: seriam os <a
                    href="https://www.showmetech.com.br/conheca-os-dandroids-os-quase-mascotes-do-android-felizmente/">Dandroids</a>.
            </p>
            <h2 class="nvmasc">Surge um novo mascote</h2>
            <p class="nvcont">
                A ideia de ter um mascote foi amadurecendo e a missão foi passada para uma profissional da área. A
                ilustradora Russa <a href="https://www.irinablok.com/" target="_blank" rel="noopener noreferrer">Irina
                Blok</a>, também funcionária do Google, ficou com a missão de representar o pequeno robô de uma maneira
                mais agradável.
            </p>
            <img src="pacote-projeto-d010/imagens/irina-blok.jpg" alt="irina">
            <p class="nvcont">
                A ideia principal da Irina era representar tudo graficamente com poucos traços e de forma mais chapada.
                O desenho também deveria gerar identificação rápida com quem o olha. Surgiu então o <a
                    href="https://www.tecmundo.com.br/android/46241-android-a-historia-do-robo-mascote-mais-famoso-do-mundo-ilustracao-.htm"
                    target="_blank" rel="noopener noreferrer">Bugdroid</a>, o novo mascote do Android.
            </p>
            <img src="pacote-projeto-d010/imagens/bugdroid.png" alt="budroid">
            <p class="nvcont">
                A principal inspiração para os traços do novo Bugdroid veio daqueles bonequinhos que ilustram portas de
                banheiro para indicar o gênero de cada porta. Conta a lenda que a artista estava criando em sua mesa no
                escritório do Google e olhou para o lado dos banheiros e a identificação foi imediata: simples, limpo,
                objetivo.
            </p>
            <iframe width="700" height="500" src="https://www.youtube.com/embed/l2UDgpLz20M"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </section>
</main>
</body>
</html>